<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - [%marker] %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="play" level="INFO"/>

    <!-- actors logging -->
    <logger name="akka" level="DEBUG"/>

    <logger name="actors" level="DEBUG"/>

    <!-- controllers -->
    <logger name="controllers" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
